<!DOCTYPE html>
<html>
<head>
  <style>
    /* Định dạng cho thẻ body và div chứa ảnh */
    body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .image-container {
      text-align: center;
    }

    /* Định dạng cho thẻ h2 */
    h2 {
      font-size: 35px;
      margin: 0;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="image-container">
    <h2>Oops..!</h2>
    <img src="http://4.bp.blogspot.com/-gdd8Nj5zNqg/T29ZjfvDjYI/AAAAAAAAAMw/vwwjnuqR1Ro/s320/404+error+page+6.jpg" />
  </div>
</body>
</html>
